#des1{
	float:left;
	margin: 5px;
}
#val1{
	float:left;
	margin: 5px;
}
#des2{
	float:left;
	margin: 5px;
}
#val2{
	float:left;
	margin: 5px;
}
#cross1{
	float: right;
}
#cross2{
	float: right;
}
#des{
	margin-right: 4px;
}
#income{
	background-color: #D3D3D3;
}
#expenses{
	background-color: #808080;
}
#first{
	background-color: #d43717;
}
#second{
	background-color: #152299;
}